{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
{% include 'partials/head.html.twig' %}


<body id="{{ page.slug }}">
{% include 'partials/header.html.twig' %}

<main>
  {% block content %}{% endblock %}
</main>

{% include 'partials/footer.html.twig' %}

</body>
</html>
