<footer class="page-footer">
  <div class="content-wrapper">
    <div class="row">
      <div class="col offset-m1 m4 s12">
        <h5 class="white-text"><span class="t-highlight">T</span>hormann <span class="t-highlight">T</span>uning
        </h5>
        <p class="grey-text text-lighten-4">Gereuther Weg 21<br>D-96472 Rödental</p>
        <p>
          <i class="tiny material-icons">local_phone</i> 0175 4374095
          <br>
          <i class="tiny material-icons">email</i> info@thormann-tuning.de
        </p>
      </div>
      <div class="col m4 offset-m2 s12">
        <ul>
          <li><a class="grey-text text-lighten-3" href="/impressum">Impressum</a></li>
          <li><a class="grey-text text-lighten-3" href="/kontakt">Kontakt</a></li>
        </ul>
        <p>Folgen sie uns bei</p>
        <a href="https://www.facebook.com/thormanntuning/" target="_blank"><i class="fab fa-facebook-square fa-3x"></i></a>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="content-wrapper">&#9400 {{ "now"|date('Y') }} Thormann Tuning</div>
  </div>
</footer>

{% block bottom %}
  {{ assets.js('bottom') }}
{% endblock %}<script type="text/javascript" src="/user/themes/alice/assets/js/footer.5dcc56d7.js"></script>