<li><a class="waves-effect waves-red" href="#!"><i class="material-icons left">build</i>Zum Tuningkonfigurator</a></li>
<li><div class="divider"></div></li>
<li><a class="waves-effect waves-red" href="#!"><i class="material-icons left">crop_original</i>Galerie</a></li>
<li><a class="waves-effect waves-red" href="#!"><i class="material-icons left">contact_mail</i>Kontakt</a></li>
<li><a class="waves-effect waves-red" href="#!"><i class="material-icons left">question_answer</i>FAQ</a></li>