<nav class="nav-bar">
  <div class="nav-wrapper">
    <a href="#!" id="menubutton" class="hamburger hamburger--spin hide-on-large-only">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </a>
    <a href="/" class="brand-logo"><img src="{{ url('theme://assets/img/logo_nav_white.png') }}"></a>
    <ul class="right hide-on-med-and-down">
      {% include 'partials/links.html.twig' %}
    </ul>
  </div>
</nav>

<ul id="slide-out" class="sidenav valign-wrapper">
    <div>
      {% include 'partials/links.html.twig' %}
    </div>
</ul>