<nav class="nav-bar">
  <div class="nav-wrapper">
    <a href="#!" data-target="slide-out" class="sidenav-trigger waves-effect waves-red"><i class="material-icons">menu</i></a>
    <a href="/" class="brand-logo"><img src="{{ url('theme://assets/img/logo_nav.png') }}"></a>
    <ul class="right hide-on-med-and-down">
      {% include 'partials/links.html.twig' %}
    </ul>
  </div>
</nav>

<ul id="slide-out" class="sidenav">
  <div class="valign-wrapper link-container">
    <div>
      {% include 'partials/links.html.twig' %}
    </div>
  </div>
</ul>