#image-slider
  background: linear-gradient(to left, rgba(40,52,59,1) 0%,rgba(130,140,149,1) 49%,rgba(40,52,59,1) 100%)
.owl-dots
  position: absolute
  bottom: 0
  margin: 0 auto
  left: 50%
  transform: translateX(-50%)