{% extends 'partials/base.html.twig' %}


{% block banner %}{% endblock %}
{% block content %}

<div class="content-wrapper">
  <div class="text-wrapper">
    <p>Impressum</p>
  </div>
</div>


{% endblock %}