{% extends 'partials/base.html.twig' %}

{% block content %}
  <div class="content-wrapper">
      <iframe
          src="http://www.tuningkonfigurator.com/admin/haendlerframe.php?hash=33d91f4b6ab9ee6d5eadae42cc78b31c&amp;modus=autoselektor&amp;speed=dsl"
          width="100%" height="500" frameborder="0" scrolling="none" name="Tuningkonfigurator" id="Tuningkonfigurator">
        <p>Ihr Browser kann leider keine eingebetteten Frames anzeigen: Sie können die eingebettete Seite über den
          folgenden Verweis aufrufen:
          http://www.tuningkonfigurator.com/admin/haendlerframe.php?hash=33d91f4b6ab9ee6d5eadae42cc78b31c&amp;modus=autoselektor&amp;speed=dsl</p>
      </iframe>
  </div>
{% endblock %}