{% extends 'partials/base.html.twig' %}

{% block banner %}
  <div class="head-banner z-depth-1">
    <button id="maps-btn" class="btn waves-effect waves-light" type="submit" name="action">Karte <span
          class="hide-on-expand">ausklappen</span><span class="show-on-expand">einklappen</span>
      <i class="material-icons right">arrow_drop_down_circle</i>
    </button>
    <iframe frameborder="0" style="border:0" height="100%" width="100%"
            src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJUR5QYf3Po0cR9UTipoNi6MY&key=AIzaSyCswZt_hP9hhkbcr7Y7OK3YOZjs08kkK8s"
            allowfullscreen></iframe>
  </div>
{% endblock %}

{% block content %}
  <div class="content-wrapper">
  <div class="row">
    <div class="col l6 s12">
      <div class="card">
        <div class="card-content">
          <img class="col l12 s12" src="{{ url('theme://assets/img/logo_big.png') }}">
          <span class="card-title">Hier finden sie uns</span>
          <p>Gereuther Weg 21</p>
          <p>D-96472 Rödental</p>
          <br>
          <p><i class="material-icons">local_phone</i> 0175 4374095</p>
          <br>
          <p><i class="material-icons">email</i> info@thormann-tuning.de</p>
        </div>
      </div>
    </div>

    <div class="col l6 s12">
      <div class="card">
        <div class="card-content">
          {{ page.content }}
          <div class="">
            {% include "forms/form.html.twig" %}
          </div>
        </div>
      </div>
    </div>

  </div>

{% endblock %}