{% extends 'partials/base.html.twig' %}

{% block content %}

  <div class="content-wrapper leistungen">
        <div class="row">
          <div class="section overview">
            <div class="col s12 l4">
              <div class="card">
                <div class="card-content">
                  <i class="fas fa-gas-pump"></i>
                  <p>Sie möchten Kraftstoff sparen?</p>
                </div>
              </div>
            </div>
            <div class="col s12 l4">
              <div class="card">
                <div class="card-content">
                  <i class="fas fa-tachometer-alt"></i>
                  <p>Sie möchten mehr Leistung aus Ihrem Fahrzeug herausholen?</p>
                </div>
              </div>
            </div>
            <div class="col s12 l4">
              <div class="card">
                <div class="card-content">
                  <i class="fas fa-hand-peace"></i>
                  <p>Sie möchten schaltfauler fahren können?</p>
                </div>
              </div>
            </div>
          </div>
          <div class="section col l12">
            <div class="card">
              <div class="card-content">
                <span class="card-title">Alle Leistungen auf einen Blick</span>
                <ul class="collection">
                  <li class="collection-item">Kennfeldoptimierung für PKWs (alle Marken)</li>
                  <li class="collection-item">Garantieversicherungen für Tuningfahrzeuge</li>
                  <li class="collection-item">TÜV-Gutachten zu unserem Tuning</li>
                  <li class="collection-item">Codierungen für folgende Marken: VW, Audi, Skoda und Seat</li>
                </ul>
                <p class="questions">Sie haben <b>Fragen?</b> Wir freuen uns auf ihre <a href="kontakt">Kontaktaufnahme</a>.</p>
              </div>
            </div>
          </div>
        </div>
  </div>

{% endblock %}