{% extends 'partials/base.html.twig' %}

{% block content %}

  <div class="content-wrapper leistungen">
        <div class="row">
          <div class="section overview">
            {% for item in page.header.overview %}

              <div class="col s12 l4">
                <div class="card">
                  <div class="card-content">
                    <i class="{{ item.icon }}"></i>
                    <p>{{ item.text }}</p>
                  </div>
                </div>
              </div>

            {% endfor %}
          </div>
          <div class="section col l12">
            <div class="card">
              <div class="card-content">
                <span class="card-title">Alle Leistungen auf einen Blick</span>
                <ul class="collection">
                  {% for item in page.header.services %}
                  <li class="collection-item">{{ item.text }}</li>
                  {% endfor %}
                </ul>
                <p class="questions">{{ page.header.additional }}</p>
              </div>
            </div>
          </div>
        </div>
  </div>

{% endblock %}